@model WelspunVessel.DTO.Masters.CustomerMasterDTO
@using WelspunVessel.DTO


@using (Html.BeginForm())
{
    @Html.Partial("_ModalHeader", new ModalHeaderDTO { Heading = "Delete Customer" })

    <div class="modal-body form-horizontal">
        Are you sure want to delete Customer Detail: @Model.CustomerName?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooterDTO { SubmitButtonText = "Delete" })


}