@using WelspunVessel.DTO.Masters
@using WelspunVessel.DTO
@model CompanyMasterDTO

@using (Html.BeginForm())
{
    @Html.Partial("_ModalHeader", new ModalHeaderDTO { Heading = "Delete Company" })

    <div class="modal-body form-horizontal">
        Are you want to delete Company:  @Model.CompanyName?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooterDTO { SubmitButtonText = "Delete" })
}


